/** {
	border: 1px dotted ;
}*/

@import url(http://fonts.googleapis.com/css?family=Cantata+One|Amatic+SC);

body{
	max-width: 100%;
	margin: auto; 
	font-family: 'Cantata One', serif;
} 

#wrapper {
	max-width: 100%; 
}


/***********************************************************
			HEADER

		For smaller Screens - 
			I would like to keep the image and my name, perhaps not the bounce. I also think that something needs to be done with the nav, but I'm not sure what yet. 
***********************************************************/
#header{
	margin: auto; 
	max-width: 100%; 
	height: 100px;	
	background: rgba(40,40,40,.7);
	color: antiquewhite; 
	font-family: 'Amatic SC', cursive;
}


#ps{
	width:100%;
	height: 100px;
	position: fixed;
	z-index: 200;
	top:0;
	background: rgba(40,40,40,.3);
}

.nav-up{
	top: -100px;
	transition: top 2s ease-in-out;
}



#header div h1{ /* I want to get the h1s to align center to the div */
	margin: auto;
	padding: 10px 25px;
	font-weight: bold;
	display: inline-block;
	width:40%;	
	font-size: 4em;
	vertical-align: top;
}

/*#experience h1{
	width: 100%;
	font-size: 3em;
	position: absolute;
	margin: auto; 
	padding: 25px;
	text-align: center;*/

/*#experience h1{
		margin: auto;
		text-align: center;
		font-size: 2.5em;
		padding-top: 49px;
		position: relative;
	}*/

#first{
	clear: left;
	text-align: right;
	border-radius: 45% 45% 0% 0%;

}

#last{
	clear: right;
	text-align: left;
	border-radius: 45% 45% 0% 0%;
}

#profile_pic{
	display: inline-block;
	padding: 2px;
	position: relative;
	clear: both;
	max-width: 10%; 
	max-height: 75px; 
	border-radius: 50%; 
	box-shadow: 10px; 
	margin: auto;
}


#header_nav a{
	display: inline-block;
	position: relative;
	margin: 0px .5%;
	top: -65px;
	text-align: center;
	vertical-align: top;
	width: 13%;
	padding: 2px 4px;
/*	border-right: 1px solid black;
*/	text-decoration: none;
	color: white;	
/*	background: rgba(40,40,40,.3);
*/	font-size: 1.3em; 
	font-family: 'Cantata One', serif;
	z-index:101;
}

#header_nav a:hover{
	transition-duration: 0.3s;
	transition-property:transform;
	transform: scale(1.1);
	cursor: pointer;
}

.nav_right{
	float:right;
}

#header_nav a:last-Child{
	border-right: none; 
}

/***********************************************************
			SECTIONS 
***********************************************************/

.sections{
		height: 900px; 
		width: 100%; 
		padding-top: 10px;
}


.bgs{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;

}

/***********************************************************
			Quote and Goal 

	For smaller screens - 
	I would like to have the quote and goals combined on one virtual flip card and on a tap, then the other one is visible, like two sides of a coin. 		
***********************************************************/


	#goalContainer {
		width: 100%; 
		height: 100%;
		padding-top: 250px;
		margin-top: -200px;
		background: #000 url('../img/road.jpg') no-repeat fixed center;
	}

	#mission, #words{
		font-size: 2.5em;
		color: antiquewhite;
		width: 48%;
		display: inline-block;
		margin: 15px 00px 0px 00px;
		padding: 10px;
		border-radius: 5%;
		text-align: center;
		background: rgba(122,122,122,.6);
		
	}

	/*#mission{
		float: left;

	}*/


	#goal, #quote{
		width: 40%; 
		height: 75%;
		margin: 30px; 
		padding: 15px; 
		font-size: 2em; 
		display: inline-block;
		font-weight: bold;
		line-height: 1.25em;
		vertical-align: top;
		background: rgba(122,122,122,.6);
		border-radius: 15%;
	}

	#quote{
		border-left: solid 1px black;
		padding-left: 40px;
		/*float: right; */
	}

	#goal{
		/*float: left; */
	}

	.bqStart{
		float: left;
	    height: 30px;
	    margin: -50px 20px 80px -40px;
	    line-height: 1.25em;
	    padding: 5px;
	    font-size: 5em;
	    color:rgba(155, 144, 144, 0.8);
	    z-index: 98;
	}

	 .bqEnd{
	 	float: right;
	    height: 25px;
	    margin: 30px 100px 0px 0px;
	    font-size: 8em;
	    color:rgba(155, 144, 144, 1);
	    z-index: 99;
 	}

 	
/***********************************************************
			Skillz 

		For smaller Screens - 
			Just make them fit, maybe by stacking 3x2 
***********************************************************/

#skillz{
	padding: 100px 10px; 
	margin:  auto;
	background: #000 url('../img/blackboard.jpg') no-repeat fixed center;
}

#description_container{
	width: 80%; 
	height: 350px; 
	margin: 10px auto; 
	padding: 40px 20px;
	position: relative;
	color: white; 
	font-size: 2.5em;
	text-align: center;
}


#badge_container{
	width: 100%;
	height: 100px;
	margin: 20px auto; 
	padding: 25px;

}

.skillz_badge{
	width: 13%; 
	height: 100%;
	background: antiquewhite; 
	border-radius: 50%; 
	box-shadow: 10px 10px 2px black;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0px 20px;
	left:100px;
	position: relative;
	text-align: center; 
	line-height: 100px; 
	font-size: 1.25em;
}

.skillz_badge:hover{
	transition-duration: 0.3s;
	transition-property:transform;
	transform: scale(1.1);
}



/***********************************************************
			Experience - Timeline 

			Maybe by making it go vertical rather than horizonatl? Also, the dates need to move in conjuction with the events. Scrollable?
***********************************************************/
	#experience{
		background: #000 url('../img/grid_02.jpg') repeat fixed center;	
	}

	#experience h1{
		margin: auto;
		text-align: center;
		font-size: 2.5em;
		padding-top: 49px;
		position: relative;
	}




/***********************************************************
			Dev Stack 
***********************************************************/
	#dev_stack{
		background: #000 url('../img/type_building.jpg') no-repeat fixed center;
		color: antiquewhite;
	}

/***********************************************************
			About 
***********************************************************/

	#about{
		background: #000 url('../img/cycle_lane.jpg') no-repeat fixed center;
	}

/***********************************************************
			Footer 
***********************************************************/

#footer{
	background: rgba(40,40,40,.3);
	color: antiquewhite;
	position: fixed;
	bottom:0;
	z-index: 201;
	width: 100%;
	height: 20px;
}

#footer #copy,#time{
	display: inline-block;
	padding:0px 5px;
	margin: 0px 15px;
}

