/** {
	border: 1px dotted ;
}*/

body{
	max-width: 100%;
	margin: auto; 
} 

#wrapper {
	max-width: 100%; 
}


/***********************************************************
			HEADER
***********************************************************/
#header{
	margin: auto; 
	max-width: 100%; 
	height: 100px;	
	background: lightgray;
}


#header div{
	width:100%;
	height: 100px;
	position: fixed;
	z-index: 1000;
	background: rgba(40,40,40,.5)
}
#header div h1{ /* I want to get the h1s to align center to the div */
	margin: auto;
	padding: 10px 25px;
	font-weight: bold;
	display: inline-block;
	width:40%;	
	font-size: 4em;
	vertical-align: top;
}




#first{
	clear: left;
	text-align: right;
	border-radius: 45% 45% 0% 0%;

}

#last{
	clear: right;
	text-align: left;
	border-radius: 45% 45% 0% 0%;
}

#profile_pic{
	display: inline-block;
	padding: 2px;
	position: relative;
	clear: both;
	max-width: 10%; 
	max-height: 75px; 
	border-radius: 50%; 
	box-shadow: 10px; 
	margin: auto;
}


#header_nav a{
	display: inline-block;
	position: relative;
	margin: 75px auto;
	text-align: center;
	width: 18%;
	padding: 2px;
	border-right: 1px solid black;
	text-decoration: none;
}

#header_nav a:last-Child{
	border-right: none; 
}

/***********************************************************
			SECTIONS 
***********************************************************/

.sections{
	background: grey; 
	height: 500px; 
	width: 100%; 
}


.bgs{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;

}

/***********************************************************
			Quote and Goal 
***********************************************************/
	/*.goal, .quote{
		width: 100%; 
		height: 300px;
	}*/

/***********************************************************
			Skillz 
***********************************************************/

/*#description_container{
	width: 80%; 
	height: 70%; 
	background: blue;
	margin: 100px auto; 
	position: absolute;

}*/


#badge_container{
	width: 50%;
	height: 100px;
	margin: 350px auto; 
	padding: 5px;

}

.skillz_badge{
	width: 12%; 
	height: 100%;
	background: #536DC2; 
	border-radius: 50%; 
	box-shadow: 10px 10px 5px black;
	display: inline-block;
	padding: 0 10px;
	margin-right: 10px;
	position: relative;
}





