/** {
	border: 1px dotted ;
}*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

body{
	max-width: 100%;
	margin: auto; 
} 

#wrapper {
	max-width: 100%; 
}


/***********************************************************
			HEADER
***********************************************************/
#header{
	margin: auto; 
	max-width: 100%; 
	height: 100px;	
	background: lightgray;
}


#header div{
	width:100%;
	height: 100px;
	position: fixed;
	z-index: 1000;
	background: rgba(40,40,40,.5)
}
#header div h1{ /* I want to get the h1s to align center to the div */
	margin: auto;
	padding: 10px 25px;
	font-weight: bold;
	display: inline-block;
	width:40%;	
	font-size: 3em;
	vertical-align: top;
}




#first{
	clear: left;
	text-align: right;
	border-radius: 45% 45% 0% 0%;

}

#last{
	clear: right;
	text-align: left;
	border-radius: 45% 45% 0% 0%;
}

#profile_pic{
	display: inline-block;
	padding: 2px;
	position: relative;
	clear: both;
	max-width: 10%; 
	max-height: 75px; 
	border-radius: 50%; 
	box-shadow: 10px; 
	margin: auto;
}


#header_nav a{
	display: inline-block;
	position: relative;
	margin: 75px auto;
	text-align: center;
	width: 18%;
	padding: 2px 4px;
	border-right: 1px solid black;
	text-decoration: none;
	font-size: 1.2em; 
	font-family: 
}

#header_nav a:last-Child{
	border-right: none; 
}

/***********************************************************
			SECTIONS 
***********************************************************/

.sections{
	background: ; 
	height: 500px; 
	width: 100%; 
}


.bgs{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;

}

/***********************************************************
			Quote and Goal 
***********************************************************/
	#goalContainer, #quoteContainer {
		width: 100%; 
		height: 500px;
		background: khaki;
		padding: 10px 10px;
	}

	.s1h1{
		font-size: 1.5em;
		color: red;
		margin: auto;
	}

	#goal, #quote{
		width: 45%; 
		height: 85%;
		margin: 10px 10px; 
		padding: 5px; 
		display: inline-block;
		font-size: 2em; 
		font-family: Comic Sans; 
		vertical-align: top;
	}

	#quote{
		border-left: solid 1px black;
		padding-left: 40px;
	}

	.bqStart{
		float: left;
	    height: 30px;
	    margin: -50px -20px 20px 10px;
	    padding: 5px;
	    font-size: 5em;
	    color:rgba(155, 144, 144, 0.57);
	    z-index: 98;
 }

	 .bqEnd{
	 	float: right;
	    height: 25px;
	    margin: -100px 185px 0px 0px;
	    font-size: 8em;
	    color:rgba(155, 144, 144, 0.57);
	    z-index: 99;
 }

 	
/***********************************************************
			Skillz 
***********************************************************/

#skillz{
	padding: 20px; 
	margin:  auto;
}

#description_container{
	width: 80%; 
	height: 350px; 
	background: blue;
	margin: 10px auto; 
	padding: 40px 20px;
	position: relative;
}


#badge_container{
	width: 90%;
	height: 100px;
	margin: auto; 
	padding: 25px;

}

.skillz_badge{
	width: 12%; 
	height: 100%;
	background: #536DC2; 
	border-radius: 50%; 
	box-shadow: 10px 10px 2px black;
	display: inline-block;
	padding: 0 10px;
	margin: 0px 10px;
	left:100px;
	position: relative;
	text-align: center; 
	line-height: 100px;
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 1.25em;
}

.skillz_badge:hover{
	transition-duration: 0.3s;
	transition-property:transform;
	transform: scale(1.1);
}




