#timeline{
	width: 100%; 
	height: 40px;
	display: inline-block;
	background: transparent; 
}

ul li{
	list-style: none; 
	line-height: 1em; 
	display: inline-block;
	margin: auto 10px;
}

a {
	text-decoration: none;
	color: black; 
	font-weight: bold;

}


#timelineContainer{
	padding-top: 200px;
	width: 100%; 
	height: 200px; 
	background-color: transparent;
}

.circle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	background-color: black; 
}



.circle:hover,.box:hover{
	transition-duration: 0.3s;
	transition-property:transform;
	transform: scale(1.1);
	cursor: pointer;
}

/*.hover{
	transition-duration: 0.3s;
	transition-property:transform;
	transform: scale(1.1);
	cursor: pointer;
}*/

.box{
	padding: 5px;
	position: relative; 
	text-align: center;
}


#lifeEvents{
	list-style: none;
	display: inline;
	color: black;
	}
/***********************************************
			Events
***********************************************/


#dob{
	margin-left: 60px;
	margin-top: 190px;
}

#natasha{
	margin-top: 35px;
	margin-left: -175px;
	position: absolute;
	
}

#tuscany{
	margin-left: 600px; 
	width: 260px; 
}

#keg{
	margin-left: 850px; 
	width: 200px;
}

#jefferson{
	margin-left: 930px; 
	width:100px;
}

#manual{
	margin-left: 1050px; 
	width: 75px;
}


#metro{
	margin-left: 930px; 
	width: 110px; 
}

#overlay {
 background :rgba(0,0,0,0.8);
  width:50%;
  height:50%;
  margin-top: 10%;
  margin-left: 20%;
  padding: 5%;
  font-size: 3em;
  z-index: 901;
  color: antiquewhite;
  position:absolute;
  display: none;
  text-align:center;






